{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "menu" .}} {{end}}

{{ define "main" }}

<div class="is-newspaper">
<div class="is-top-edge">
    <div class="is-right-edge">
<section class="hero is-hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="logo has-text-centered">
        <a href="https://tedium.co"><h1><img src="https://cdn.tedium.co/logo.gif" alt="Tedium: The Dull Side of the Internet." class="logo"></h1></a>
        <h3 class="logo-subtitle">The dull side of the internet.</h3>
      </div>
      <div class="column is-8 is-offset-2 is-intro is-flex-touch">
        <div class="column is-12">
        <p><strong>We’re on a mission.</strong> Twice a week, internet obsessive Ernie Smith (formerly of ShortFormBlog) takes a deep dive towards the absolute end of the long tail, and he’s putting his findings in your inbox. Wanna follow along? You know what to do: Put your name and email address in this box to sign up for our twice-a-week newsletter.</p>

        <div class="email-octopus-form-wrapper">
<p class="email-octopus-success-message"></p>
<p class="email-octopus-error-message"></p>
	<form method="post" action="https://emailoctopus.com/lists/f0718f9b-73cf-11e6-b4a1-06ef9e0a2bd5/members/embedded/1.2/add" class="validate email-octopus-form bound" autocomplete="off">

	<div class="column is-6 is-pulled-left field">

	<input class="input" type="text" id="field_1" name="embedded_form_subscription[field_1]" placeholder="Your first name" class="email-octopus-first-name">

	</div>

	<div class="column is-6 is-pulled-right field">
	<input class="input" type="text" placeholder="Your last name" id="field_2" name="embedded_form_subscription[field_2]">
	</div>

	<div class="column is-12 field">

	<input class="input" id="field_0" name="embedded_form_subscription[field_0]" type="email" placeholder="Where we should reach ya">

	</div>

	<div class="column is-12">
    <div class="email-octopus-form-row-consent" style="line-height: 12px; margin-top: 0;">
        <input class="checkbox" type="checkbox" id="consent" name="consent" style="margin-bottom: 0;">
        <label for="consent">I’m cool with Tedium sending me messages a couple times a week.</label>
    </div>
	</div>


        <div class="email-octopus-form-row-hp" aria-hidden="true">
            <!-- Do not remove this field, otherwise you risk bot sign-ups -->
            <input type="text" name="hpf0718f9b-73cf-11e6-b4a1-06ef9e0a2bd5" tabindex="-1" autocomplete="nope">
        </div>

		<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=en" defer="" async=""></script>

	<div class="column is-12">
	<div class="email-octopus-form-row-subscribe">
	<input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="https://tedium.co/subscriber-landing/">

	<input class="button is-large is-fullwidth is-red" type="submit" value="Shoryuken!" name="subscribe" class="button expand" id="submitBtnPopup">

</div>
</div>
</form>

</div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ range first 1 (where .Data.Pages "Type" "post") }}
<section class="section is-toptease">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image is-4by3">
              <img class="lazyload" src="https://images.unsplash.com/photo-1487611459768-bd414656ea10?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="Description">
            </figure>
          </div>
          <div class="column is-7 is-multiline">
            <h1 class="title is-four-fifths">
             {{ .Site.Title }}
            </h1>
            <h2 class="subtitle is-three-fifths">
              {{ .Site.Params.description}}
            </h2>
            <br>
            <div class="column  is-offset-1">
            <div class="field is-grouped has-addons-centered">
              <div class="control is-expanded">
                <input class="input is-large" type="text" placeholder="Join the beta waitlist: you@example.org">
              </div>
              <div class="control">
                <a class="button is-large is-danger">
                  Sign Up
                </a>
              </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
</section>
{{ end }}




<section class="section showcase">
  <hr class="classy-divider">
  <div class="column is-three-quarters-desktop is-pulled-left is-full-touch">
  <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">

        
        {{ range first 1 (where .Data.Pages "Type" "post") }}
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child is-newsprint">
              <figure class="image is-square">
                <a href="{{ .Permalink }}" itemprop="headline">
                <h3 class="front-title-big">{{ .Title }}</h3>
                {{ if .Params.image }} <img class="lazyload" src="{{ .Params.image }}?h=530&amp;fit=crop&amp;w=530&amp;crop=center"> {{ end }}
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" class="front-title-time">{{ .Date.Format "Jan 2, 2006" }}</time>
                </a>
              </figure>

            </article>
          </div>
        </div>
        {{ end }}
        <div class="tile">
          {{ range first 2 (after 1 .Data.Pages) }}
          <div class="tile is-parent">
            <article class="tile is-child is-newsprint">
              <figure class="image is-square">
                <a href="{{ .Permalink }}" itemprop="headline">
                <h3 class="front-title">{{ .Title }}</h3>
                {{ if .Params.image }} <img class="lazyload" src="{{ .Params.image }}?h=530&amp;fit=crop&amp;w=530&amp;crop=center"> {{ end }}
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" class="front-title-time">{{ .Date.Format "Jan 2, 2006" }}</time>
                </a>
              </figure>
            </article>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="tile is-vertical is-4">
      {{ range first 3 (after 3 .Data.Pages) }}
        <div class="tile is-parent">
          <article class="tile is-child is-newsprint">
          <figure class="image is-square">
            <a href="{{ .Permalink }}" itemprop="headline">
            <h3 class="front-title">{{ .Title }}</h3>
            {{ if .Params.image }} <img class="lazyload" src="{{ .Params.image }}?h=530&amp;fit=crop&amp;w=530&amp;crop=center"> {{ end }}
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" class="front-title-time">{{ .Date.Format "Jan 2, 2006" }}</time>
            </a>
          </figure>
          </article>
        </div>
      {{end}}
      </div>


</div>
    </div>
    <div class="column is-pulled-right is-one-quarter-desktop is-full-touch is-front-sidebar">
      <article class="is-front-blurb">
        <h3 class="front-number">32</h3>
        <p class="front-blurb"><strong>The number of times</strong> that something happened that you didn't know about. <a href="">via</a></p>
      </article>
      <hr>
      <article class="is-front-blurb">
        <h3 class="front-quote">“Everything you've ever read about the internet is a gosh-darn lie.”</h3>
        <p class="front-blurb">— A quote from a guy who said something funny and possibly true. <a href="">via</a></p>
      </article>
      <hr>
      <article class="is-front-ad">
        <img src="http://via.placeholder.com/300x250">
      </article>
    </div>
    &nbsp;
  </section>

<section class="section prefooter">
  <hr class="classy-divider">
  <div class="is-clearfix">dd</div>
</section>


{{ partial "footer" .}}
</div>
<div class="is-bottom-edge"></div>
</div>
</div>

{{end}}
