{{ define "title"}} {{ .Title }} {{ end }}

{{ define "style"}}
{{ end }}

{{ define "header"}} {{ partial "menu" .}} {{ end }}

{{ define "main"}}

<div class="is-newspaper">
<div class="is-top-edge">
    <div class="is-right-edge">
<div class="main-container" itemscope itemtype="http://schema.org/BlogPosting">
     {{ template "_internal/schema.html" . }}
    <section class="hero is-primary is-medium article-banner" {{ if .Params.image }} style="background-image: url('{{ .Params.image }}')" {{ end }}>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2><a href="/"><img src="https://cdn.tedium.co/logo.gif" alt="Tedium: The Dull Side of the Internet."></a></h2>

            </div>
        </div>
    </section>
    <section class="section article-headline">
        <div class="container">
          <div class="columns is-mobile is-centered">
          <div class="column is-9">
      <h1 class="title is-2" itemprop="headline">
          {{.Title}}
      </h1>
      {{ if .Description }}
      <h2 class="subtitle" itemprop="description">{{ .Description }}</h2>
      {{ end }}
      <p class="has-text-centered">{{ partial "post/meta" . }}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section blog">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-9">

                    <div class="content blog-post section" itemprop="articleBody">

                        {{ partial "toc" .}}


                        {{.Content}}
                    </div>
                    <div class="title is-4">
                        {{ partial "post/byauthor" . }}
                        {{ partial "post/related-content" . }}
                    </div>

                    {{ if .Site.DisqusShortname }}
                    <article>

                        {{ partial "disqus.html" . }}
                    </article>
                    {{ end }}

                </div>
            </div>

        </div>
    </section>
</div>

</div>
</div>
</div>

{{ end }}

{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}
